@model GigHub.ViewModels.GigViewModel
@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Gig.Artist.Name)
</h2>
@if (User.Identity.IsAuthenticated)
{
    if (Model.IsFollowing)
    {
        <button class="btn btn-info js-toggle-following" data-artist-id="@Model.Gig.ArtistId">
            Following
        </button>

    }
    else
    {
        <button class="btn btn-default js-toggle-following" data-artist-id="@Model.Gig.ArtistId">
            Follow
        </button>
    }

}


<p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:MM") </p>

@if (Model.IsGoing)
{
    <p> You are going to this event. </p>
}

@section scripts{
    <script>
        $(document).ready(function () {
            FollowingController.init();
        });

    </script>
}
